/* header 모바일 */
@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
}

/* About 모바일 start */
@media screen and (max-width: 768px) {
  .title-w {
    font-family: "PyeongChangPeace-Bold";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
      format("woff2");
    font-size: 30px; /* 타이틀 텍스트 크기 */
    font-weight: 400;
    margin-top: 100px;
    margin-bottom: 20px; /* 제목과 컨테이너 사이의 간격 */
    color: #fff;
  }

  .about-bg {
    width: 100%;
    height: 100%; /* 화면 전체 높이 */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #370800;
  }

  .frofile-container {
    display: flex;
    flex-direction: column; /* 플렉스 아이템을 세로 방향으로 배치 */
    align-items: center; /* 가로 방향 중앙 정렬 */
    justify-content: center; /* 세로 방향 중앙 정렬 */
    width: 100%;
    height: auto;
    max-width: 100%;
    position: relative;
    overflow: hidden; /* 자식 요소가 부모 요소를 넘어서도 보이도록 설정 */
  }

  .frofile-img {
    position: relative;
    width: 450px; /* 이미지 그룹의 적절한 너비 */
    height: 320px; /* 이미지 그룹의 적절한 높이 */
    margin-right: 0px; /* .profile-text와의 간격 조정 */
    margin-bottom: 30px;
  }

  .talk-left,
  .talk-right {
    position: absolute; /* 위치를 조정하기 위해 절대 위치로 설정 */
    z-index: 3; /* 이미지를 더 앞에 보이도록 설정 */
  }

  .talk-left > img,
  .talk-right > img {
    width: 60px; /* 기본 이미지 너비 */
    height: auto; /* 비율 유지 */
    transition: transform 0.3s ease; /* 변형 애니메이션을 부드럽게 적용 */
  }

  /* talk-left의 위치 조정 */
  .talk-left {
    left: 140px; /* talk-right의 오른쪽 끝을 부모 요소의 오른쪽 끝에 맞추기 */
    top: 35%; /* talk-right의 위쪽 끝을 부모 요소의 위쪽 끝에 맞추기 */
    transform: translateX(0) translateY(0); /* 필요에 따라 위치 조정 */
  }

  /* talk-right의 위치 조정 */
  .talk-right {
    right: 110px; /* talk-right의 오른쪽 끝을 부모 요소의 오른쪽 끝에 맞추기 */
    top: 20%; /* talk-right의 위쪽 끝을 부모 요소의 위쪽 끝에 맞추기 */
    transform: translateX(0) translateY(0); /* 필요에 따라 위치 조정 */
  }

  .talk-left img {
    animation: shake-talk-left 0.6s ease infinite; /* 애니메이션 무한 반복 */
  }

  .talk-right img {
    animation: shake-talk-right 0.6s ease infinite; /* 애니메이션 무한 반복 */
  }

  @keyframes shake-talk-left {
    0% {
      transform: rotate(0deg); /* 초기 상태 */
    }
    50% {
      transform: rotate(-10deg); /* 기울어지는 상태 */
    }
    100% {
      transform: rotate(0deg); /* 원래 상태로 돌아옴 */
    }
  }

  @keyframes shake-talk-right {
    0% {
      transform: rotate(0deg); /* 초기 상태 */
    }
    50% {
      transform: rotate(10deg); /* 기울어지는 상태 */
    }
    100% {
      transform: rotate(0deg); /* 원래 상태로 돌아옴 */
    }
  }

  /* frofile-sticker1의 호버 효과 */
  .frofile-sticker1 {
    position: absolute;
    z-index: 2; /* 다른 요소보다 뒤에 오도록 설정 */
    top: 50%; /* 부모 컨테이너의 중앙보다 위로 올리기 */
    left: 50%;
    transform: translate(-50%, -50%); /* 정확히 중앙으로 위치 조정 */
  }

  .frofile-sticker1 img {
    width: 200px; /* profile 이미지 크기 */
    height: auto; /* 비율 유지 */
    padding: 20px;
    transition: transform 0.3s ease; /* 변형 애니메이션을 부드럽게 적용 */
  }

  /* frofile-sticker1 호버 상태에서 애니메이션 적용 */
  .frofile-sticker1:hover img {
    animation: shake-frofile-sticker1 0.6s ease infinite; /* 애니메이션 무한 반복 */
  }

  /* 애니메이션 정의 */
  @keyframes shake-frofile-sticker1 {
    0% {
      transform: rotate(0deg); /* 초기 상태 */
    }
    50% {
      transform: rotate(5deg); /* 기울어지는 상태 */
    }
    100% {
      transform: rotate(0deg); /* 원래 상태로 돌아옴 */
    }
  }

  .profile-title {
    font-family: "PyeongChangPeace-Bold";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
      format("woff2");
    font-size: 25px; /* 타이틀 텍스트 크기 */
    margin-bottom: 40px;
    color: #fff;
    transform: scaleY(1.2); /* Y축으로 1.2배 늘리기 */
    width: auto;
    height: auto;
    padding: 5px 15px;
    background-color: #5b3716;
    border-radius: 20px;
    line-height: 30px;
  }

  .profile-text-b {
    color: #fffbc7;
  }

  .profile-text {
    display: flex;
    flex-direction: column; /* 내용이 세로로 쌓이도록 설정 */
    align-items: center; /* 가로 방향 중앙 정렬 */
    justify-content: center; /* 세로 방향 중앙 정렬 */
    text-align: center; /* 텍스트 내용 중앙 정렬 */
    max-width: 600px; /* 필요에 따라 적절히 조정 */
    margin: 0 80px; /* 중앙 정렬을 위한 마진 */
    font-family: "Pretendard Variable", Pretendard, Roboto, sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #fff;
  }

  .frofile-badge1 {
    position: relative; /* 부모 컨테이너의 위치에 따라 위치 조정 */
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px; /* 배지 간의 간격 */
    z-index: 10; /* 텍스트와 배지가 이미지 위에 표시되도록 설정 */
    margin-top: 30px; /* .profile-text와의 간격 조정 */
  }

  .frofile-badge1 span {
    background: #5b3716; /* 배경 색상 */
    color: #fff; /* 배지 텍스트 색상 */
    padding: 5px 15px; /* 배지 안쪽 여백 */
    border-radius: 20px; /* 배지 모서리 둥글기 */
    font-family: "PyeongChang-Bold";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2")
      format("woff2");
    font-weight: 800;
    font-size: 12px;
    margin-bottom: 100px;
    line-height: 15px;
  }

  .frofile-sticker2 {
    position: relative;
    margin: 5px 30px 5px 0px;
  }

  .frofile-sticker2 > a {
    display: inline-block; /* <a> 태그를 인라인 블록으로 설정 */
    padding: 0; /* 여백 제거 */
  }

  .frofile-sticker2 > a > img {
    width: 100px; /* 이미지의 너비를 강제로 설정 */
    height: auto; /* 비율 유지 */
    max-width: 100%; /* 부모 요소의 크기 제한 */
  }
}

/* About 모바일 start */
@media screen and (max-width: 768px) {
  /* 전체 배경을 설정하는 .about-box-bg */
  .about-box-bg {
    background-color: #5b3716;
    width: 100%; /* 웹사이트 가로 전체를 채우기 위해 100%로 설정 */
    box-sizing: border-box; /* padding을 포함한 전체 너비 설정 */
    padding: 20px; /* 박스 내부에 여백을 추가 */
    display: flex; /* 콘텐츠를 가운데 정렬하기 위해 flexbox 사용 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
  }

  /* 내용 박스 */
  .about-box {
    background-color: #5b3716;
    padding: 20px; /* 박스 내부에 여백을 추가 */
    width: 1000px; /* 내용 박스의 고정된 너비 */
    box-sizing: border-box; /* padding을 포함한 전체 너비 설정 */
    text-align: start; /* 텍스트를 왼쪽 정렬 */
  }

  /* 각 그룹 사이의 간격 */
  .about-sub-text-group {
    margin-top: 100px;
    margin-bottom: 120px; /* 각 그룹 사이의 간격 */
  }

  /* 타이틀 스타일 */
  .about-sub-title {
    font-family: "PyeongChangPeace-Bold";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
      format("woff2");
    font-size: 30px; /* 타이틀 텍스트 크기 */
    font-weight: 400;
    color: #fffbc7;
    display: block;
    margin-bottom: 30px; /* 타이틀과 내용 사이의 간격 */
    font-weight: bold;
  }

  /* 내용 박스의 텍스트 스타일 */

  .about-text-b-2 {
    display: block;
    font-family: "Pretendard Variable", Pretendard, Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff; /* 텍스트 색상 설정 */
    margin-bottom: 20px; /* .about-text-b와 다음 텍스트 사이의 간격 설정 */
  }

  /* about-text-b 스타일 */
  .about-sub-text-box > .about-text-b {
    display: block;
    font-family: "Pretendard Variable", Pretendard, Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff; /* 텍스트 색상 설정 */
    margin-bottom: 10px; /* .about-text-b와 다음 텍스트 사이의 간격 설정 */
  }
  .line-break {
    margin: 2px 0; /* 위와 아래 간격을 조절 */
  }

  .about-sub-text-box {
    font-family: "Pretendard Variable", Pretendard, Roboto, sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #fff; /* 텍스트 색상 설정 */
    display: block;
    margin-bottom: 30px; /* .about-sub-text-box끼리의 간격 설정 */
  }
}

/* footer 모바일 스타일 */
@media screen and (max-width: 768px) {
  /* footer-inner-box 스타일 */
  .title-b {
    font-family: "PyeongChangPeace-Bold";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
      format("woff2");
    font-size: 30px; /* 타이틀 텍스트 크기 */
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 20px; /* 제목과 컨테이너 사이의 간격 */
    color: #fff;
  }
  /* footer-bg 스타일 */
  .footer-bg {
    background-color: #370800; /* 배경색 설정 */
    width: 100vw; /* 가로 전체에 적용 */
    height: auto; /* 높이 설정 */
    padding: 10px 0; /* 상하 패딩 추가 */
    position: relative; /* footer의 위치를 상대적으로 설정 */
  }

  /* footer 스타일 */
  footer {
    padding: 0; /* 상하 여백 제거 */
    display: flex; /* Flexbox 활성화 */
    flex-direction: column; /* 자식 요소들을 세로 방향으로 배치 */
    justify-content: center; /* 자식 요소들을 세로 중앙에 배치 */
    align-items: center; /* 자식 요소들을 가로 중앙에 배치 */
    text-align: center; /* 텍스트 정렬을 가운데로 설정 */
    color: #fff; /* 기본 텍스트 색상 설정 */
    overflow: hidden;
  }

  /* footer-inner-box 스타일 */
  .footer-inner-box {
    height: 100px; /* 높이 설정 */
    display: flex; /* Flexbox 활성화 */
    justify-content: center; /* 아이콘들을 가로 방향으로 중앙 정렬 */
    align-items: center; /* 아이콘들을 세로 방향으로 중앙 정렬 */
    gap: 20px; /* 아이콘들 사이의 간격 */
  }

  /* 아이콘 스타일 */
  .footer-inner-box a img {
    width: 50px; /* 아이콘의 너비 설정 (필요시 조정) */
    height: auto; /* 비율에 맞게 높이 자동 조정 */
    display: inline-block; /* 인라인 블록으로 설정 */
    margin-bottom: 20px; /* 아래쪽 여백 추가 */
  }

  /* footer-inner-box 바로 아래 span 스타일 */
  footer span {
    font-family: "Pretendard Variable", Pretendard, Roboto, sans-serif;
    font-weight: 200;
    font-size: 12px;
    display: block; /* 블록 레벨로 변경하여 줄바꿈을 가능하게 함 */
    margin-top: 0px; /* footer-inner-box와의 간격 설정 */
    color: #ffffff; /* 텍스트 색상 (필요시 조정) */
    margin-bottom: 30px; /* 아래쪽 여백 추가 */
    word-break: normal;
    padding: 0px 30px;
  }
}
